<div class="jumbotron">
  <h1 class="text-center"><strong>DE Johnson Plumbing</strong></h1>
  <br>
  <div class="col-lg-12 text-center">
      <a href="tel://1-530-277-0977" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  (530) 277-0977</a>
  </div>

  <div class="col-lg-12 text-center">
    <h3>
      Repairing Nevada & Placer County Plumbing Since 1985
    </h3>
  </div>
</div>
