<div class="jumbotron">
  <h1 class="text-center"><strong>DE Johnson Plumbing</strong></h1>
  <br>
  <div class="col-lg-12 text-center">
      <a href="tel://1-530-277-0977" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  (530) 277-0977</a>
  </div>

  <div class="col-lg-12 text-center">
    <h3>
      Repairing Nevada & Placer County Plumbing Since 1985
    </h3>
  </div>
</div>

<div class="col-lg-12">
  <ul>
    <li><a href="#">Kitchen Fixtures</a></li>
    <li><%= link_to 'Water Heater Replacement & Repair', hot_water_path %></li>
    <li><a href="#">On-Demand/Tankless Water Heater</a></li>
    <li><a href="#">Bath Fixtures, Faucets & Toilets</a></li>
    <li><a href="#">Home Remodeling</a></li>
    <li><a href="#"><%= image_tag "http://www.solahart.com.au/images/layout/head/logo-top-2.png" %></a></li>
  </ul>
</div>
