<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center"><strong>DE Johnson Plumbing</strong></h1>
    <br>
    <div class="col-lg-12 text-center">
        <a href="tel://1-530-277-0977" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  (530) 277-0977</a>
    </div>

    <div class="col-lg-12 text-center">
      <h3 class="tagline">
        Repairing Nevada & Placer County's Plumbing Since 1985
      </h3>
    </div>
  </div>

  <div class="col-lg-12">
    <h3 class="center">Plumbing Services:</h3>
    <ul class="row services_home center">
      <li class="col-md-4">Bathroom & Kitchen Fixtures</li>
      <li class="col-md-4">Water Heater Replacement & Repair</li>
      <li class="col-md-4">On-Demand/Tankless Water Heater</li>
      <li class="col-md-4">Sink & Drain Repairs</li>
      <li class="col-md-4">Home Remodeling</li>
      <li class="col-md-4"><%= image_tag "http://www.solahart.com.au/images/layout/head/logo-top-2.png", class: "" %></li>
    </ul>
  </div>
</div>
<br>
<footer class="footer">
  <div class="container-fluid">
  <p><small>
<strong>Nevada County and Placer County Plumbing Services the following Areas</strong>
Nevada City Plumbing,Grass Valley Plumbing, Penn Valley Plumbing, Lake of the Pines Plumbing, Colfax Plumbing, Auburn Plumbing,
Truckee Plumbing, Rough and Ready Plumbing, Cedar Ridge Plumbing, Alta Sierra Plumbing, Lake Wildwood Plumbing, Meadow Vista Plumbing,
Chicago Park Plumbing, You Bet Plumbing, Scotts Flat Plumbing.

<strong>Services</strong> Remodel Plumbing, Construction Plumbing, Construction Plumber, Plumbing Repair, Same day Plumbing Service, Emergency Plumbing Service, Residential Plumbing, Commercial Plumbing, Sewer Contractor, Copper Plumbing Re-pipe, Free Plumbing Quote, Plumbing Costs, Plumbing Estimate, Tree Root Intrusion, Tree Root Problems, Pipe Bursting, Copper Water Repair, Leaking Water Pipe, Underground Pipe Repair, Trenchless Water, Water Heater, Leaking Water Heater, Water Heater Repair, Tankless Water Heater Instalation, Tankless Water Heater Maintenance, Tankless Water</small></p>
  </div>
</footer>
