/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $gray-base: #000;
 $brand-primary: darken(#75BD9F, 6.5%);
 $brand-success: #E3C636;
 $brand-info: #78b9a3;
 $brand-warning: #BD8075;
 $brand-danger: #d99952;
 $body-bg: #F5F5DC;

.test {border:thin solid red;}
h1,h2,h3,h4,h5,h6 {font-family: 'Archivo Black', sans-serif;color:#c0392b;}
.navbar-default {background-color: #c0392b;}
.jumbotron h1, h2, h3, h4, h5, h6 {color:white;}
.jumbotron {background-color:#c0392b;}
